.dbl-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20vh;
  padding: 4rem;
}

.dbl-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}

.dbl-image {
  width: 100%;
  max-width: 360px;
  aspect-ratio: 18 / 12;
  object-fit: cover;
}

@media (max-width: 767px) {
  .dbl-section {
    margin-top: 0;
    text-align: center;
  }
}