.nav-item {
  color: var(--color-text-on-dark);
  text-wrap: nowrap;
  text-align: center;
  width: 100%;
  transition:
    transform 0.3s ease,
    padding 0.3s ease,
    border 0.3s ease;
}
.nav-item:hover {
  transform: translateY(-2px);
}

.nav-item-active {
  color: var(--gold-color);
  text-wrap: nowrap;
  text-align: center;
  width: 100%;
  transition:
    transform 0.3s ease,
    padding 0.3s ease,
    border 0.3s ease;
}
