:root {
  --black-color: #232428;
  --blue-color: #3c19ff;
  --dark-blue-color: #091c78;
  --purple-color: #e5e0ff;
  --white-color: #ffffff;
  --gold-color: #ffd700;
  --background-gradient: linear-gradient(to right, var(--dark-blue-color), var(--blue-color));

  --header-height: 64px;

  --color-text-on-light: var(--black-color);
  --color-header-on-light: var(--dark-blue-color);
  --color-text-on-dark: var(--white-color);
  --color-header-on-dark: var(--white-color);

  --bg: var(--background-gradient);
  --accent: var(--blue-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--accent);
}

body {
  margin: 0;

  /* Background */
  background: var(--bg);
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Typography */
  color: var(--color-text-on-dark);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;

  /* Better rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Prevent weird horizontal scroll issues */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans", sans-serif;
}

input,
textarea,
button,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

/* Utilities */

.column {
  display: flex;
  flex-direction: column;
}

/* default: hidden */
.u-show-xs,
.u-show-sm,
.u-show-md,
.u-show-lg {
  display: none;
}

/* xs: 0-479px */
@media (max-width: 479px) {
  .u-show-xs {
    display: block;
  }
}

/* sm: 480-767px */
@media (min-width: 480px) and (max-width: 767px) {
  .u-show-sm {
    display: block;
  }
}

/* md: 768-1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .u-show-md {
    display: block;
  }
}

/* lg: 1024-1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .u-show-lg {
    display: block;
  }
}