footer {
  background-color: var(--accent);
}

.carousel {
  overflow: hidden;
  width: 100%;
  padding: 32px 0;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: ticker 20s linear infinite;
}

.carousel-text {
  display: flex;
  white-space: nowrap;
  font-size: 64px;
  font-family: "Cal Sans";
  color: var(--white-color);
  line-height: 1;
}

/* spacing between items */
.carousel-text span {
  position: relative;
  margin-right: 60px;
  display: inline-flex;
  align-items: center;
}

/* separator dot */
.carousel-text span::after {
  content: "";
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  right: -38px;

  width: 16px;
  height: 16px;
  background: var(--white-color);
  border-radius: 50%;
}

/* infinite scroll */
@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
  gap: 3rem;
  width: 100%;
  font-family: "Cal Sans";
  font-weight: bold;
}

.footer-link {
  transition: color 0.3s ease;
}
.footer-link:hover {
  color: var(--gold-color);
}

.footer-logo {
  height: 50px;
  width: auto;
}

.footer-brand {
  display: flex;
  font-family: "Cal Sans";
  font-weight: bold;
  padding: 2rem;
  gap: 1rem;
}
.footer-name {
  line-height: 1;
}
